@import './variables.scss';

.app-root {
  .simple-link {
    text-decoration: none;
    color: inherit;
  }

  .brand-title {
    font-size: 150%;
    line-height: 100%;
    margin: auto;
  }
}

/* Desktop view */
@media (min-width: 721px) {
  .app-root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .fifty-fifty-root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    max-height: 100%;

    .primary-image-container {
      position: fixed;
      left: 0;
      width: 49vw;
      height: 95%;
    }

    &-right-half {
      margin-right: 1.5rem;
      text-align: justify;

      .post-title {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
      .post-date {
        font-size: 0.8rem;
      }
    }

    .post-preview-card {
      margin-bottom: 1rem;

      figure {
        overflow: hidden;
        margin-bottom: 0;

        .preview-image {
          transform: scale(1);
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.3) !important;
          }
        }
      }

      .content {
        padding-top: 0;

        &-title {
          margin: auto;
          color: $primary-color;
          text-transform: uppercase;
        }

        &-date {
          color: $secondary-color;
        }
      }

      &:hover {
        background: $background-grey;
      }
    }
  }

  .masonry-root {
    column-count: 2;
    margin: 0.5rem;
  }

  .masonry-item {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

/* Mobile view */
@media (max-width: 720px) {
  .fifty-fifty-root {
    .primary-image-container {
      height: 80vh;
    }

    &-right-half {
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: justify;

      .post-title {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
      .post-date {
        font-size: 0.8rem;
      }
    }

    .post-preview-card {
      margin-bottom: 1rem;

      .content {
        padding-top: 0;

        &-title {
          margin: auto;
          color: $primary-color;
          text-transform: uppercase;
        }

        &-date {
          color: $secondary-color;
        }
      }
    }
  }

  .masonry-root {
    column-count: 2;
    margin: 0.5rem;
  }
}

/* Small Mobile view */
@media (max-width: 420px) {
  .fifty-fifty-root {
    .primary-image-container {
      height: 80vh;
    }

    &-right-half {
      margin-left: 1rem;
      margin-right: 1rem;
      text-align: justify;

      .post-title {
        margin-top: 0.5rem;
        margin-bottom: 0;
      }
      .post-date {
        font-size: 0.8rem;
      }
    }

    .post-preview-card {
      margin-bottom: 1rem;

      .content {
        padding-top: 0;

        &-title {
          margin: auto;
          color: $primary-color;
          text-transform: uppercase;
        }

        &-date {
          color: $secondary-color;
        }
      }
    }
  }

  .masonry-root {
    column-count: 1;
    margin: 0.5rem;
  }
}

/* Common styles */
.hidden {
  visibility: hidden;
}
