/* Mobile view */
@media (max-width: 620px) {
}

/* Desktop view */
@media (min-width: 621px) {
  .app-root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .fifty-fifty-root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 100%;
  }

  .masonry-root {
    column-count: 2;
    margin: 0.5rem;
  }

  .masonry-item {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
